emcs/wsdl/VipWebservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="urn:http://vst.bmf.gv.at/vip/v01" name="VipWebservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:http://vst.bmf.gv.at/vip/v01" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="urn:http://vst.bmf.gv.at/vip/v01" schemaLocation="VipWebservice_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="verifyMessage">
    <part name="parameters" element="tns:verifyMessage"/>
  </message>
  <message name="verifyMessageResponse">
    <part name="parameters" element="tns:verifyMessageResponse"/>
  </message>
  <message name="getMessagesForVID">
    <part name="parameters" element="tns:getMessagesForVID"/>
  </message>
  <message name="getMessagesForVIDResponse">
    <part name="parameters" element="tns:getMessagesForVIDResponse"/>
  </message>
  <message name="getTypeForVID">
    <part name="parameters" element="tns:getTypeForVID"/>
  </message>
  <message name="getTypeForVIDResponse">
    <part name="parameters" element="tns:getTypeForVIDResponse"/>
  </message>
  <message name="getAllMessages">
    <part name="parameters" element="tns:getAllMessages"/>
  </message>
  <message name="getAllMessagesResponse">
    <part name="parameters" element="tns:getAllMessagesResponse"/>
  </message>
  <message name="acknowledgeMessages">
    <part name="parameters" element="tns:acknowledgeMessages"/>
  </message>
  <message name="acknowledgeMessagesResponse">
    <part name="parameters" element="tns:acknowledgeMessagesResponse"/>
  </message>
  <message name="getProductCategoryForVID">
    <part name="parameters" element="tns:getProductCategoryForVID"/>
  </message>
  <message name="getProductCategoryForVIDResponse">
    <part name="parameters" element="tns:getProductCategoryForVIDResponse"/>
  </message>
  <message name="getAllMessagesManualAcknowledgement">
    <part name="parameters" element="tns:getAllMessagesManualAcknowledgement"/>
  </message>
  <message name="getAllMessagesManualAcknowledgementResponse">
    <part name="parameters" element="tns:getAllMessagesManualAcknowledgementResponse"/>
  </message>
  <message name="testService">
    <part name="parameters" element="tns:testService"/>
  </message>
  <message name="testServiceResponse">
    <part name="parameters" element="tns:testServiceResponse"/>
  </message>
  <message name="recover">
    <part name="parameters" element="tns:recover"/>
  </message>
  <message name="recoverResponse">
    <part name="parameters" element="tns:recoverResponse"/>
  </message>
  <message name="setWaiting">
    <part name="parameters" element="tns:setWaiting"/>
  </message>
  <message name="setWaitingResponse">
    <part name="parameters" element="tns:setWaitingResponse"/>
  </message>
  <message name="getMessagesForVIDManualAcknowledgement">
    <part name="parameters" element="tns:getMessagesForVIDManualAcknowledgement"/>
  </message>
  <message name="getMessagesForVIDManualAcknowledgementResponse">
    <part name="parameters" element="tns:getMessagesForVIDManualAcknowledgementResponse"/>
  </message>
  <message name="sendMessage">
    <part name="parameters" element="tns:sendMessage"/>
  </message>
  <message name="sendMessageResponse">
    <part name="parameters" element="tns:sendMessageResponse"/>
  </message>
  <portType name="VipWebservice">
    <operation name="verifyMessage">
      <input message="tns:verifyMessage"/>
      <output message="tns:verifyMessageResponse"/>
    </operation>
    <operation name="getMessagesForVID">
      <input message="tns:getMessagesForVID"/>
      <output message="tns:getMessagesForVIDResponse"/>
    </operation>
    <operation name="getTypeForVID">
      <input message="tns:getTypeForVID"/>
      <output message="tns:getTypeForVIDResponse"/>
    </operation>
    <operation name="getAllMessages">
      <input message="tns:getAllMessages"/>
      <output message="tns:getAllMessagesResponse"/>
    </operation>
    <operation name="acknowledgeMessages">
      <input message="tns:acknowledgeMessages"/>
      <output message="tns:acknowledgeMessagesResponse"/>
    </operation>
    <operation name="getProductCategoryForVID">
      <input message="tns:getProductCategoryForVID"/>
      <output message="tns:getProductCategoryForVIDResponse"/>
    </operation>
    <operation name="getAllMessagesManualAcknowledgement">
      <input message="tns:getAllMessagesManualAcknowledgement"/>
      <output message="tns:getAllMessagesManualAcknowledgementResponse"/>
    </operation>
    <operation name="testService">
      <input message="tns:testService"/>
      <output message="tns:testServiceResponse"/>
    </operation>
    <operation name="recover">
      <input message="tns:recover"/>
      <output message="tns:recoverResponse"/>
    </operation>
    <operation name="setWaiting">
      <input message="tns:setWaiting"/>
      <output message="tns:setWaitingResponse"/>
    </operation>
    <operation name="getMessagesForVIDManualAcknowledgement">
      <input message="tns:getMessagesForVIDManualAcknowledgement"/>
      <output message="tns:getMessagesForVIDManualAcknowledgementResponse"/>
    </operation>
    <operation name="sendMessage">
      <input message="tns:sendMessage"/>
      <output message="tns:sendMessageResponse"/>
    </operation>
  </portType>
  <binding name="VipWebservicePortBinding" type="tns:VipWebservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="verifyMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMessagesForVID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTypeForVID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllMessages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="acknowledgeMessages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProductCategoryForVID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllMessagesManualAcknowledgement">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="recover">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setWaiting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMessagesForVIDManualAcknowledgement">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="VipWebservice">
    <port name="VipWebservicePort" binding="tns:VipWebservicePortBinding">
      <soap:address location="https://localhost:1080"/>
    </port>
  </service>
</definitions>